@CHARSET "ISO-8859-1";

body {
	background-color: #000000;
	padding: 5% 20% 5% 20%;
}

#page {
	background-color: #7D7D7D;
	height: 600px;
	padding: 1% 1% 1% 1%;
	width: 800px;
}

#main {
    float: left;
    height: 100%;
    width: 80%;
}

#mainL {
    height: 88%;
    width: 100%;
}

#sideBar {
	float: left;
	height: 100%;
	width: 10%;
}

#commandBar {
	height: 12%;
	width: 100%;
}

#menu {
	float: left;
}

#player {
	float: right;
}

#menu .command {
    padding: 0% 0% 1% 0%;
    float: left;
}

#player .command {
    padding: 0% 0% 1% 0%;
    float: right;
}

.command {
    padding: 1% 3% 1% 3%;
    text-align: center;
}

.commandImage {
    background-position: center center;
    border-radius: 10px 10px 10px 10px;
	background-repeat: no-repeat;
    height: 65px;
    padding: 4px 4px 4px 4px;
    width: 65px;
}

div:hover.commandImage {
	background-color: #FF3300;
}

.nofloat {
	float: none;
}

.arrayRows1 {
	height: 98%;
}

.arrayRows2 {
	height: 49%;
}

.arrayRows3 {
	height: 32%;
}

.arrayRows4 {
	height: 24%;
}

.box {
    background-color: #A9A9A9;
    border-radius: 15px 15px 15px 15px;
    float: left;
    padding: 3.5% 0% 0% 3.5%;
	margin: 1%;
    width: 48%;
}

.boxLabel {
    color: #1E1E1E;
    font-family: Verdana,sans-serif;
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}

div:hover#box1 {
	background-color: #FFCC66;
}

div:hover#box2 {
	background-color: #22FF53;
}

div:hover#box3 {
	background-color: #FFCAFF;
}

div:hover#box4 {
	background-color: #A2FFFF;
}

div:hover#box5 {
	background-color: #FFCC66;
}

div:hover#box6 {
	background-color: #22FF53;
}

div:hover#box7 {
	background-color: #FFCAFF;
}

div:hover#box8 {
	background-color: #A2FFFF;
}

.boxImage {
    background-position: center center;
    background-repeat: no-repeat;
	height: 65px;
    padding: 3% 38% 3% 38%;
    width: 65px;
}

#mainL .boxImage {
    background-position: center center;
    background-repeat: no-repeat;
	height: 30px;
    padding: 3% 38% 3% 38%;
    width: 30px;
}

#accept {
	background-image: url("./style/icons/coquette/64x64/accept.png");
	height: 64px;
	width: 64px;
}

#back {
	background-image: url("./style/icons/coquette/64x64/back.png");
	height: 64px;
	width: 64px;
}

#block {
	background-image: url("./style/icons/coquette/64x64/block.png");
	height: 64px;
	width: 64px;
}

#deny {
	background-image: url("./style/icons/coquette/64x64/delete.png");
	height: 64px;
	width: 64px;
}

#down {
	background-image: url("./style/icons/coquette/64x64/download_1.png");
	height: 64px;
	width: 64px;
}

#first {
	background-image: url("./style/icons/coquette/64x64/first.png");
	height: 64px;
	width: 64px;
}

#help {
	background-image: url("./style/icons/coquette/64x64/help_ballon.png");
	height: 64px;
	width: 64px;
}

#home {
	background-image: url("./style/icons/coquette/64x64/home.png");
	height: 64px;
	width: 64px;
}

#last {
	background-image: url("./style/icons/coquette/64x64/last.png");
	height: 64px;
	width: 64px;
}

#next {
	background-image: url("./style/icons/coquette/64x64/next.png");
	height: 64px;
	width: 64px;
}

#pause {
	background-image: url("./style/icons/coquette/64x64/pause.png");
	height: 64px;
	width: 64px;
}

#play {
	background-image: url("./style/icons/coquette/64x64/play.png");
	height: 64px;
	width: 64px;
}

#playNext {
	background-image: url("./style/icons/coquette/64x64/next_2.png");
	height: 64px;
	width: 64px;
}

#playPrevious {
	background-image: url("./style/icons/coquette/64x64/previous.png");
	height: 64px;
	width: 64px;
}

#repeat {
	background-image: url("./style/icons/coquette/64x64/repeat.png");
	height: 64px;
	width: 64px;
}

#settings {
	background-image: url("./style/icons/coquette/64x64/process.png");
	height: 64px;
	width: 64px;
}

#shutDown {
	background-image: url("./style/icons/coquette/64x64/shut_down.png");
	height: 64px;
	width: 64px;
}

#stop {
	background-image: url("./style/icons/coquette/64x64/stop.png");
	height: 64px;
	width: 64px;
}

#up {
	background-image: url("./style/icons/coquette/64x64/up.png");
	height: 64px;
	width: 64px;
}

#volumeDown {
	background-image: url("./style/icons/coquette/64x64/volume_down.png");
	height: 64px;
	width: 64px;
}

#volumeUp {
	background-image: url("./style/icons/coquette/64x64/volume_up.png");
	height: 64px;
	width: 64px;
}

#warning {
	background-image: url("./style/icons/coquette/64x64/warning.png");
	height: 64px;
	width: 64px;
}


#music {
	background-image: url("./style/icons/coquette/64x64/music.png");
	height: 64px;
	width: 64px;
}


